{% extends "base.html" %}

{% block content %}
<section  id="order" style="padding-top: 90px"></section>
<section>
    <div class="container">
        <div id="header">Twoje zamówienia w realizacji:</div>
    </div>
    <div class="container tbl">
        <div class="row header">
            <div class="col col-xs-7">Kanapka</div>
            <div class="col col-xs-2">Ilość</div>
            <div class="col col-xs-3">Cena</div>
        </div>
        {% for order, price, order_sandwiches in confirmed_orders.values %}
            <div class="row">
                <div style="background-color: #e4d9d0; padding: 3px;"></div>
                {% for item in order_sandwiches %}
                    <div class="col col-xs-7">{{ item.sandwich.name }}</div>
                    <div class="col col-xs-2">{{ item.quantity }}</div>
                    <div class="col col-xs-3">{{ item.sandwich.price }} PLN</div>
                {% endfor %}
                <div class="col col-xs-7" style="border-top: 1px solid #e4d9d0; border-bottom:1px solid #e4d9d0">
                    Data doręczenia: <strong>{{ order.date_ordered|date:"d-m-Y" }}</strong>
                </div>
                <div class="col col-xs-2" style="border-top: 1px solid #e4d9d0; border-bottom:1px solid #e4d9d0 ; text-align: right"><strong>W sumie:</strong></div>
                <div class="col col-xs-3" style="border-top: 1px solid #e4d9d0;border-bottom:1px solid #e4d9d0"><strong>{{ price }} PLN</strong></div>
                <div class="col col-xs-12" style="margin-bottom: 10px; text-align:left">Uwagi do zamówienia: {{order.remarks}}</div>
            </div>
        {% empty %}
            <div class="col col-xs-12">Nie złożyłeś jeszcze żadnego zamówienia.</div>
        {% endfor %}
    </div>
    <div class="container" style="margin-bottom:20px">
        <div class="row">
            <a href="{% url 'sandwiches:sandwiches' %}" class="btn btn-warning pull-left">
                Wróć do strony głównej
            </a>
        </div>
    </div>
</section>
<style>
    #header {
        font-size:20px;
        margin-bottom:15px;
        font-weight: 600;
    }
    .row.header {
        font-weight: 600;
    }
    .container.tbl {
        text-align: center;
        border: 1px solid #e4d9d0;
    }
    .row>.col {
        padding:5px
    }

</style>
{% endblock %}


{% block script %}
<script>
$(document).ready (function () {
    $(".update-quantity").one ('click', function (e) {
        var url_quantity =  $(this).attr('href');
        var regex_quantity = /(\d+)(?!.*\d)/;
        this.href = url_quantity.replace(regex_quantity, $(this).siblings('input').val())
    });
});


</script>
{% endblock script %}