{% extends "base.html" %}

{% block content %}

 <section>
   <div class="row">
    <table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th>Kanapka</th>
        <th>Cena</th>
      </tr>
      {% for item in order.get_order %}
        <tr>
          <td>
            {{ item.sandwich.Kan_Nazwa }}
            <span class="pull-right">
              <a href="{% url 'orders:delete_sandwich' item.id %}" data-balloon="Usuń kanapkę z koszyka" class="text-danger" onclick="return confirm_delete();">
                <i class="fas fa-trash"></i>
              </a>
            </span>
          </td>
          <td>{{ item.sandwich.Kan_Cena }} PLN</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3>Uuu... dzisiaj na głodnego?</td>
        </tr>
      {% endfor %}
      <tr>
        {% if order.get_total != None %}
        <td colspan=1>
          <strong class="pull-right">W sumie:</strong>
        </td>
        
        <td colspan= 1>
          <strong>{{ order.get_total }} PLN</strong>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td colspan=1 >
          <a href="{% url 'sandwiches:sandwiches' %}" class="btn btn-warning pull-left">
            {% if order %}Wróć do wyboru kanapek {% endif %}
          </a> 
        </td>
        <td colspan=2>
          {% if order.get_order %}
            <a href="{% url 'sandwiches:sandwiches' %}" class="pull-right btn btn-primary">Zamów</a>
          {% endif %}
        </td>
      </tr>
    </table>
     
   </div>
 </section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
  function confirm_delete(){
    return confirm("Chcesz usunąć kanapkę?");
  }
  </script>
{% endblock scripts %}