{% extends 'base.html' %}

{% block content %}
    {{ message }}
<section id="nowe" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="main_slider text-center">
                        <div class="col-md-12">
                            <div class="head_title text-center">
                                <h3>Składniki w Twojej kanapce:</h3>
                            </div>
						</div>
					</div>
				</div>
                    <form action="potwierdz-nowa-kanapke" method="post">
                        {% csrf_token %}
                        {% for object in object_list %}
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <input id="{{ object.id }}"
                                       type="checkbox"
                                       checked
                                       name="ingredient"
                                       value="{{ object.id }}"
                                       {% if object.group.name == 'pieczywo' %}
                                         disabled
                                       {% endif %}
                                >
                                <label class="btn btn-light" for="{{ object.id }}">
                                    {{ object }} - <span class="ingredient_price">{{object.price}}</span> PLN
                                </label>
	                    	</div>
                        {% endfor %}
                        <div class="pull-right" style="clear:both; font-weight:600; font-size:18px">
                            Cena za kanapkę: <span id="total_price">{{ total_price }}</span> PLN
                        </div>
                        <div class="col-xs-12" style="padding:20px 0">
                            <input class="btn btn-primary pull-right" type="submit" value="Wybieram">
                        </div>
                    </form>
			</div>
    </section>
{% endblock content %}

{% block script %}
<script>
$(":checkbox").change(function() {
  var total_price = 0
  $(":checked").each(function(){
    var price = $(this).siblings().children("span").text()
    total_price += parseFloat(price);
  })
    $('#total_price').text(Math.round(total_price * 100) / 100);
});
</script>
{% endblock script %}