{% extends 'base.html' %}

{% block content %}
    {{ message }}
<section id="nowe" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="main_slider text-center">
                        <div class="col-md-12">
                            <div class="head_title text-center">
                                <h3>Składniki w Twojej kanapce:</h3>
                            </div>
						</div>
					</div>
				</div>
                    <form action="potwierdz-nowa-kanapke" method="post">
                        {% csrf_token %}
                        {% for object in object_list %}
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <input id="{{ object.id }}" type="checkbox" checked name="ingredient" value="{{ object.id }}">
                                <label class="btn btn-light" for="{{ object.id }}">{{ object }}</label>
	                    	</div>
                        {% endfor %}
                        <div class="col-xs-12" style="padding:20px 0">
                            <input class="btn btn-primary pull-right" type="submit" value="Wybieram">
                        </div>
                    </form>
			</div>

    </section>
{% endblock content %}