{% extends 'base.html' %}

{% block content %}
    {{ message }}
<section id="nowe" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="main_slider text-center">
                        <div class="col-md-12">
                            <div class="head_title text-center">
                                <h3>Wybierz składniki</h3>
                            </div>
						</div>
					</div>
				</div>
			</div>
    <form action="moja-kanapka" method="post">
        {% csrf_token %}
        {% for ingredient_group, ingredient_list in object_list.items %}
                <div class="col-md-3 col-sm-4 col-xs-6 {{ ingredient_group }}">
                    <div style="font-variant: small-caps;">{{ ingredient_group }}</div>
                    {% for ingredient in ingredient_list %}
                            <div>
                                <input id="{{ ingredient.id }}" class="hidden" type="checkbox" name="ingredient" value="{{ ingredient.id }}">
                                <label class="btn btn-light ingredient_label" for="{{ ingredient.id }}">{{ ingredient }} - {{ingredient.price}}</label>
                            </div>
                    {% endfor %}
	    	    </div>
        {% endfor %}
        <div class="col-xs-12" style="padding:20px 0">
            <input class="btn btn-primary pull-right" type="submit" value="Wybieram">
        </div>
    </form>
    </section>
{% endblock content %}

{% block script %}
<script>
$( document ).ready(function() {
    $(':checkbox:checked+label').toggleClass('btn-light btn-success');
});

$(".ingredient_label").click(function() {
  if ($(this).parents().hasClass('pieczywo')){
    $(".pieczywo label").removeClass("btn-success");
    $(this).addClass("btn-success");

    $(".pieczywo input").prop("checked", false);

    }

  else {
    $(this).toggleClass('btn-light btn-success');
  }
});
</script>
{% endblock script %}