{% extends 'base.html' %}

{% block content %}
    {{ message }}
<section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="main_slider text-center">
                        <div class="col-md-12">
                            <div class="head_title text-center">
                                <h1>Wybierz z gotowych kanapek lub stwórz własną </h1>
                            </div>
						</div>
					</div>
				</div>
			</div>

         {% load staticfiles%}
        <div class="main_portfolio_content">
                     <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                         <img src="{% static '/images/newsbg.jpg' %}" alt=""/>
                         <div class="portfolio_images_overlay text-center">
							<div>
								<br>
                                <br>
								<p class="product_price">Wybierz składniki i skomponuj własną kanapkę</p>
								 <a class="btn btn-primary" href="/nowa-kanapka#nowe">Stwórz</a>
							</div>
						</div>
					</div>
        </div>
    {% for object in object_list %}
        {% if object.accessible %}
              <div class="main_portfolio_content">
                     <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                         <img src="{{object.image.url}}" alt="" />
                         <div class="portfolio_images_overlay text-center">
							<div>
								<h6>{{ object.name }}</h6>
								<p class="product_price">Cena: {{ object.price }} PLN</p>
                                {% for key, value in ingredients_list.items %}
                                {% if key == object.id %}
                                <p class="product_price">Składniki:
								    {% for skladnik in value %}
                                    {{ skladnik }}
                                    {% endfor %}
                                    </p>
                                {% endif %}
                                {% endfor %}

                                {% for key, value in allergens_list.items %}
                                {% if key == object.id %}
                                <p class="product_price">Alergeny: {{value }} </p>
                                {% endif %}
                                {% endfor %}
								 <a class="btn btn-primary" href="{% url 'orders:single_order' object.id%}#koszyk">Zamów</a>
							</div>
						</div>
					</div>
				</div>
        {% endif %}
    {% endfor %}
    </section>
{% endblock content %}