{% extends 'base.html' %}

{% block content %}
    {{ message }}
<section id="portfolio" class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="main_slider text-center">
                        <div class="col-md-12">
                            <div class="head_title text-center">
                                <h3>Wybierz z gotowych kanapek</h3>
                            </div>
						</div>
					</div>
				</div>
			</div>

    {% for object in object_list %}
        {% if object.accessible %}
              <div class="main_portfolio_content">
                     <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                         <img src="{{object.image.url}}" alt="" />
                         <div class="portfolio_images_overlay text-center">
							<div>
								<h6>{{ object.name }}</h6>
								<p class="product_price">Cena: {{ object.price }} PLN</p>
								{% if object in current_order_products %}
								<a href="{% url 'orders:summary' %}" class="btn btn-primary">W koszyku</a>
								{% else %}
								 <a class="btn btn-primary" href="{% url 'orders:single_order' object.id%}">Zamów</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
        {% endif %}
    {% endfor %}
    </section>
{% endblock content %}