{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <h4>{{sandwich.name}}</h4>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4">
                {% if sandwich.image %}
                    <img src="{{sandwich.image.url}}" />
                {% else %}
                    {% load staticfiles%}
                    <img src="{% static '/images/newsbg.jpg' %}" alt=""/>
                {% endif %}
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-8">
                <ul id="ingredients_header"><span>Składniki:</span>
                    {% for ingredient in sandwich.ingredients.all %}
                        <li class="ingredient">{{ ingredient.name }} - {{ ingredient.price }} PLN</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-8">
                <ul id="allergens_header"><span>Allergeny:</span></ul>
                {% for allergen in sandwich.get_allergens %}
                    <img src="{{ allergen.image.url }}" title="{{ allergen.name }}" alt="{{ allergen.name }}" />
                {% endfor %}
            </div>
            <div id="price" class="col col-xs-12 col-sm-6 col-md-8">
                Cena: {{ sandwich.price }} PLN
            </div>
        </div>
    </div>

    <style>
        h4 {
            text-align: center;
            padding: 20px;
        }
        .container {
            padding: 20px;
        }

        #ingredients_header>span, #allergens_header>span {
            font-variant: small-caps;
            font-weight: 600;
            font-size: 20px;
        }

        #price {
            font-size: 24px;
            font-weight: 600;
            text-align: right;
            margin-top: 20px;
        }
    </style>
{% endblock %}